@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = "Home Page";
}

@inject IViewLocalizer Localizer
@model IndexModel

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<div class="text-center">
    <div class="row">
        <div class="col-12">
            <partial name="_SelectLanguagePartial" />
        </div>
    </div>    
    <form class="row">        
        <div class="col-6">
            <div class="form-group">
                <label asp-for="DateInput">@Localizer["Date input"]</label>
                <input asp-for="DateInput" class="form-control" />
                <span asp-validation-for="DateInput" class="text-danger"></span>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label asp-for="CurrencyInput">@Localizer["Currency input"]</label>
                <input asp-for="CurrencyInput" class="form-control" />
                <span asp-validation-for="CurrencyInput" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
