@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<div class="text-center">
    <div class="row">
        <div class="col-12">
            <partial name="_SelectLanguagePartial" />
        </div>
    </div>
    <div class="row">

    </div>
</div>
